--extra-index-url https://download.pytorch.org/whl/cpu
playwright
beautifulsoup4
langchain
langchain-openai
langchain-community
langchain-chroma
chromadb
python-dotenv
markdownify
transformers
torch
requests
sentence-transformers
langchain-huggingface
rank_bm25
langchain-groq
flask
flask-cors
gunicorn
huggingface_hub